@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    transition: 0.5s;

}
:root {
    --primary-color: #fff;
    --secondry-color:#000;
}
/* dark mode */
.dark {
    --primary-color:#000;
    --secondry-color:#fff;
    background-color: var(--primary-color);
}
.dark .logo-img {
    color: var(--parimary-color);
}
.dark .flip-card-back {
    background-color: var(--secondry-color);
}
.dark footer {
    background-color: #ccc;
}
.dark .footer-item p,
.end li,
.end-title {
    color:var(--primary-color);
}
.dark .end {
    border-top:1px solid #000 ;
}

.logo-image {
    cursor: pointer;
    height: 44px;
    padding: 10px;
    width: 147px;
    color: red;
}
/*  header */
header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--primary-color);
    transition: 0.2s;
}
.hidden {
    transform: translateY(-100%);
}
.logo {
    cursor: pointer;
}

header img {
    width: 50px;
    height: 50px;
}
.nav {
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    text-align: right;
    margin: 20px;
}
.subnav {
    position: relative;
    padding: 9px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondry-color);
    transition: all 0.3s linear;   
    display: block;
}
.subnav::after {
    content: '';
    position: absolute;
    background-color: #000;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-radius: 10px;
    transition: 0.5s;
}
.subnav:hover::after{
   width: 50%;
}

.themeIcon {
    position: relative;
    color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
}
.themeIcon::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondry-color);
    z-index: -1;
    top: 4.5px;
    left: 0px;
    cursor: pointer;
    transition: 0.4s;
}
/* contaier */
.contaier {
    width: 80%;
    margin: 0 auto;
    background-color: var(--primary-color);
    transition: 0.5s;
}
.silder {
    position: relative;
    object-fit: cover;
    margin-top: -40px;
}
.silder img {
    width: 100%;
}
.silder-title {
    position: absolute;
    z-index: 1;
    top: 40%;
    color: var(--primary-color);
    left: 40px;
    font-size: 50px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.silder-title h1 {
    
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url('./imges/back.png');
    -webkit-background-clip: text;
    animation: back 100s linear infinite;
    font-family: fantasy;
    letter-spacing: 10px
}
@keyframes back {
    100% {
        background-position: -20000px 0;
    }
}
.silder-title a {
    font-size: 20px;
    color: #fff;
   
}

.content {
    margin: 120px 0;
    background-color: var(--primary-color);
    transition: 0.5s;
}
.content-body {
    display: flex;
}
.content-title {
    margin-bottom: 50px;
    color: var(--secondry-color);
}
.contaier-card {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
    display: flex;
}
.flip-card {
    width: 23%;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.flip-card-front {
    background-color: var(--secondry-color);
}
.flip-card-back {
    background-color: var(--secondry-color);
    transform: rotateY(180deg);
    z-index: 1;
    border-radius: 10px; 
    
}
.flip-card-inner {
    position: relative;
    height: 100%;
    transition: transform 0.8s;
    transform-style:preserve-3d ;
    border-radius: 10px;    
}
.flip-card-back,
.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    transition-delay: 0.2s;
    cursor: pointer;
}
.flip-card-front img
{
    width: 100%;
    transform: translate(-55px, 55px) rotate(-47deg) rotateY(180deg);
   
}

.card-shose {
    width: 100%;
}
.back-footer {
    padding: 17px;
    color: var(--primary-color);
    line-height: 1.5
}
.back-footer a{
    background-color:var(--primary-color) ;
    color: var(--secondry-color);
    padding: 10px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 99px;
}

.asd {
    text-align: center;
    padding-top: 100px; ;
}
.btn-buy {
    position: relative;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}
.btn-buy::after {
    position: absolute;
    content: "";
    top: 0;
    left: -52px;
    width: 52px;
    height: 250px;
    background-color: rgba(255,255,255,0.5);
    transition: 0.3s;
    transform-origin: top right;
}
.btn-buy:hover::after {
    transform: rotate(-76.5deg);
}
.contaier-images {
    text-align: center;
}
.contaier-images iframe {
    width: 90%;
    height: 500px;
    margin-bottom: 80px;
}

/* footer */
footer {
    background-color: var(--secondry-color);
}
.contaier-footer {
   
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-item {
    width: 23%;
    text-align: center;

}
.footer-item h3{
    color: var(--primary-color);
    margin-bottom: 20px;
}
.footer-item p {
    color: #ccc;
    margin-bottom: 30px;
}
.end {
    
    border-top:1px solid #ccc ;
    position: relative;
    padding: 6px 0px;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:20px ;
}
.end-nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.end-nav li {
    padding: 0px 20px;
}
.end-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.end button {
    background-color: #000;
    padding: 10px 20px;
    border-radius: 99px;
    border: 1px solid #ccc;
    color: currentColor;

}footer h1 {
    color: red;
    padding: 20px;
    font-weight: bold;
    
}
